.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(27, 66%, 92%);
    text-align: center;
}

h3 {
font-family: 'DM Sans', sans-serif;
font-size: 18px;
}

.balance {
    background-color: hsl(10, 79%, 65%);
    padding: 18px;
border-radius: 8px;
width: 50%;
margin: auto;
color: hsl(33, 100%, 98%);
}

.spending {
    background-color: hsl(33, 100%, 98%);
    padding: 15px;
border-radius: 8px;
width: 50%;
margin: auto;
}

.week {
    color: hsl(28, 10%, 53%); ;
}

.bargraph {
background-color: hsl(184, 54%, 80%);
width: 25%;
margin: auto;
}

.bargraphcolors {
    background-color: hsl(10, 79%, 65%);
    width: 25%;
    margin: auto;
}

.bargraphcolors2 {
    background-color: hsl(25, 47%, 15%);
    width: 25%;
    margin: auto;
}

.total {
    color: hsl(28, 10%, 53%);
    margin-bottom: 30px;
}

